@import "../../global.scss";
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Background/5570863.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    font-size: 60px;
    color: #679291;
    text-decoration: underline;
    overflow: hidden;
    @include mobile {
      font-size: 22px;
      font-weight: 600;
      padding-top: 10%;
    }
  }
}

.container {
  width: 90%;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  @include mobile {
    padding-top: 5%;
  }
  .items {
    width: 30%;
    height: 40%;
    border-radius: 5px;
    border: 1px solid lightgray;

    margin: 1.75% 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    @include mobile {
      width: 150px;
      height: 180px;
      background-color: #91b3b8;
      video {
        opacity: 0.2;
        z-index: 0;
      }
    }
    a {
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      color: white;
      @include mobile {
        font-size: 15px;
        color: black;
      }
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      @include mobile {
        background-color: #91b3b8;
        video {
          opacity: 0.15;
          z-index: 0;
        }
      }
    }
    &:hover {
      background-color: #91b3b8;
      video {
        opacity: 0.15;
        z-index: 0;
      }
    }
  }
}
