@import "../../global.scss";
.skills {
  padding-right: 5%;
  padding-top: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../Background/5570863.jpg");
  margin-right: 20px;
  overflow: hidden;
  .skiil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    font-size: 60px;
    color: #679291;
    text-decoration: underline;
    @include mobile {
      font-size: 35px;
    }
  }
  p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    margin-right: 2.5rem;
    @include mobile {
      font-size: 17px;
      margin-right: 0rem;
    }
  }
  .para {
    margin-top: 4%;
  }
  h2 {
    font-family: sans-serif;
    text-align: center;
    margin-right: 2rem;
    width: 70%;
    font-size: 23px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 300;
    @include mobile {
      padding-bottom: 10%;
      font-size: 15px;
      height: 20%;
      margin-right: 1rem;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
  img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 2.5rem;
    overflow: hidden;
    @include mobile {
      width: 110px;
      margin-top: 5px;
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  .skillsCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 30%;
    width: 80%;

    @include mobile {
      width: 85%;
      height: 150%;
      margin-top: 0;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  a {
    display: flex;
    position: relative;
    bottom: 40px;
    align-items: center;
    justify-content: center;
    z-index: 999;
    img {
      width: 30px;
      animation: arrowBlink 2s infinite;
    }
    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}
