@import "../../global.scss";
.intro {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  display: flex;
  position: relative;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .txt {
    font-size: 7.5rem;
    display: flex;
    color: #7cafad;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: hidden;

    h1 {
      font-family: "Noto Sans", sans-serif;
      padding-top: 2%;
    }
    .second {
      vertical-align: baseline;
    }
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .img {
      width: 700px;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 95%;
        z-index: 2;
        @include mobile {
          height: 50%;
          padding-bottom: 50%;
        }
        // @include tablet {
        //   height: 70%;
        //   padding-right: 30%;
        // }
      }
    }
  }
}
.right {
  flex: 0.5;
  position: relative;

  .name {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    flex-direction: column;
    @include mobile {
      padding-left: 0;
      align-items: center;
    }

    h1 {
      font-size: 70px;
      margin: 10px 0;
      @include mobile {
        font-size: 50px;
        text-align: left;
      }
      // @include tablet {
      //   font-size: 55px;
      // }
    }
    h2 {
      font-size: 30px;
      @include mobile {
        font-size: 20px;
      }
    }
    h3 {
      font-size: 40px;
      @include mobile {
        font-size: 30px;
      }

      span {
        font-size: inherit;
        color: #679291;
      }
      .ityped-cursor {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  a {
    position: absolute;
    bottom: 10px;
    left: 40%;
    z-index: 999;
    img {
      width: 30px;
      animation: arrowBlink 2s infinite;
    }
    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}
