@import "global.scss";

.app {
  height: 100vh;

  .sections {
    width: 100%;

    background-color: white;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    @include mobile {
      top: 50px;
    }

    > * {
      width: 100vw;

      scroll-snap-align: start;
      @include mobile {
      }
    }
  }
}
