.footerSection {
  height: 300px;
}
.map {
  height: 45vh;
  width: 100vw;
  background-image: url("map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  background-color: #516b6b;
  height: 50%;
  width: 18%;
  border-radius: 5%;
  color: white;
  margin-left: 40%;
}
.heading {
  font-family: "Montserrat";
  font-size: 3rem;
  margin: 1rem;
}
.address {
  font-family: "Montserrat";
  font-size: 1rem;
  margin: 1rem;
}
.link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  margin: 1rem;
  color: red;
}

/* Footer */

footer {
  background: #679291;
  padding: 5px 0;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
}

.social-media {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  color: #ffffff;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #4d4448;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and(max-width: 480px ) {
  .brand img {
    display: none;
  }
}
